@font-face {
  font-family: "iconfont"; /* Project id 4510220 */
  src: url('iconfont.woff2?t=1713254654453') format('woff2'),
       url('iconfont.woff?t=1713254654453') format('woff'),
       url('iconfont.ttf?t=1713254654453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e600";
}

.icon-gerenzhongxin:before {
  content: "\e70b";
}

.icon-baitianmoshimingliangmoshi:before {
  content: "\e632";
}

.icon-arrow-up:before {
  content: "\e647";
}

.icon-arrow-down:before {
  content: "\e648";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-chakan:before {
  content: "\e63e";
}

.icon-tuichudenglu:before {
  content: "\e649";
}

.icon-shaixuan1:before {
  content: "\e888";
}

.icon-youjiantou:before {
  content: "\e678";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-chakan1:before {
  content: "\e601";
}

.icon-shangchuan-:before {
  content: "\e606";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-tuichudenglu1:before {
  content: "\e605";
}

.icon-shangchuan:before {
  content: "\e854";
}

.icon-biaoqing:before {
  content: "\e61b";
}

.icon-huiyiguanli:before {
  content: "\e618";
}

.icon-gerenzhongxin1:before {
  content: "\e71d";
}

.icon-gerenzhongxin2:before {
  content: "\e61d";
}

.icon-tupian_huaban:before {
  content: "\e62c";
}

.icon-yizhiyi:before {
  content: "\e64d";
}

.icon-baitianmoshi:before {
  content: "\e623";
}

.icon-question:before {
  content: "\e602";
}

.icon-yejianmoshi:before {
  content: "\e68b";
}

.icon-tuichudenglu2:before {
  content: "\e61e";
}

.icon-yiwen:before {
  content: "\e69f";
}

.icon-shangchuanhuiyijiyao:before {
  content: "\e636";
}

.icon-yiwen1:before {
  content: "\e628";
}

.icon-tuichudenglu3:before {
  content: "\e613";
}

.icon-comment-check:before {
  content: "\ea36";
}

.icon-Frame-1:before {
  content: "\e64a";
}

